/*
.tileCustom .sapMStdTileInfo {
  white-space: normal;
  margin-top: 1rem;
}
*/

.hierarchyLink {
  color: white !important;
}

.sapMStdTileTitle {
  font-size: 1.25rem;
  color: #ED1620 !important;
}


/********************/


/*Riello*/

.sapMTileContent:active {
  background-color: #ED1620;
}


/*
#soLaunchpadId--SOtiles-soLaunchpadId--container-0-img{
    width: 10rem !important;
    height: 4rem !important;
    margin-top: 3rem;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-1-img{
    width: 10rem !important;
    height: 4rem !important;
    margin-top: 3rem;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-0-title{
    margin-top: 4rem;
    align-items: center;
    text-align: center;
    color: forestgreen !important;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-1-title{
    margin-top: 4rem;
    align-items: center;
    text-align: center;
}
*/

.iconColumns {
  width: 2.75rem;
}

#splitApp-Master {
  border-right-style: solid;
  border-right-color: #ED1620 !important;
}

#changePasswordId--linkChangePass {
  width: 100%;
  margin-left: 45%;
}


/*
.sapMShellBrandingBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  background-color: #ED1620 !important;
}
*/


/* freccia delle select di colore rosso */

.sapMComboBoxBasePressed .sapMComboBoxBaseArrow,
.sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
  background: #ED1620 !important;
}


/* selected item colore grigio */

.sapMSelectListItemBaseSelected {
  background: rgba(33, 26, 28, 0.12);
}


/*login più basso*/

#loginId--loginFlexBoxId {
  margin-top: 12rem;
  height: 15em;
}


/*
.sapMNavItem {
  background-color: white !important;
  background: url("../img/albero_mod.jpg") center bottom no-repeat;
  background-size:contain;

}
*/


/*

.pageClass {

        background: url(../img/albero_mod.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-size: 80% 100%;

}


@media (max-width: 1280px) {
    .pageClass {

        background-size: 100% 100%;
    }
}

.pageClassSOLaunchpad {
  background-color: white !important;
  background: url("../img/albero_mod.jpg") center bottom no-repeat;
  background-size: contain;
}
*/

.miaPagina {
  background-color: white !important;
  background: url("../img/logoRiello.png"), url("../img/sfondo_basso_riello.png");
  background-position: left 50px, center bottom;
  background-repeat: no-repeat;
  background-size: initial, contain;
}

@media (max-width: 1280px) {
  .miaPagina {
    background-size: 35%, contain;
  }
}

#lv1Node {
  color: aqua;
}

#lv2Node {
  color: deepskyblue;
}

#newCustomerId {
  background-color: white !important;
  background: url("../img/sfondo_basso_riello.png") center bottom no-repeat;
  background-size: contain;
}

#orderListId {
  background-color: white !important;
  background: url("../img/sfondo_basso_riello_logo.png") center bottom no-repeat;
  background-size: contain;
}

#returnListPageId {
  background-color: white !important;
  background: url("../img/sfondo_basso_riello_logo.png") center bottom no-repeat;
  background-size: contain;
}

#orderInfoId {
  background-color: white !important;
}

#productRODetailId--detailROPage {
  background-color: white !important;
}

#HistoryCartsDetailId--historyCartsPageId {
  background-color: white !important;
}

#fullCustomerDetailId,
#fullCustomerDetailExtId{
  background-color: white !important;
}

#HistoryCartsDetailId--orderInfoId-cont {
  background-color: white !important;
}


/*
#launchpadId--container-scrl
{
  background-color: white !important;
  background: url("../img/Sfondo_.png") center bottom no-repeat;
}
*/


/*
.sapUiGlobalBackgroundImage.sapUiGlobalBackgroundImageForce {
  display: block;
  background: url("../img/footer_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;
}
*/


/*
#changePasswordId--changePass-cont {
  background-color: white !important;
  background: url("../img/sfondo_basso_riello_logo.png") center bottom no-repeat;
  background-size: contain;
}
*/

.sapUiVltCell {
  margin-left: 40px !important;
  margin-right: 2em !important;
}


/*
Font Master list Customer
*/


/*pagina del dettaglio ed edit*/


/*
#__page1-cont
{
  background-color: white  ;
}*/

#emptyId {
  background-color: white !important;
}

#customerDetailId--detailPage-cont {
  background-color: white;
  background-image: url("../img/logoRiello.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#customerEditId--editPage-cont {
  background-color: white;
  background-image: url("../img/logoRiello.png");
  background-repeat: no-repeat;
  background-position: right top;
}

@media(max-width: 1280px) {
  #customerDetailId--detailPage-cont,
  #customerEditId--editPage-cont {
    background-size: 35%, contain;
  }
}

#productDetailId {
  background-color: white !important;
}

#cartFullId {
  background-color: white !important;
}


/*
.sapUiFormResGrid>div {
    margin-top: 5em;
    border-style: solid;
    border-color: #E72F27;
}
*/


/* Order Create */

#orderCreateId--simpleform0--Form--Grid,
#offerCreateId--simpleform0--Form--Grid {
  background-color: white !important;
  margin-top: -1em;
  margin-bottom: -1.5em;
}

#orderCreateId {
  background-color: white;
}




.sapMITBSelected>.sapMITBContentArrow {
  border-bottom-color: #ED1620;
}

.sapMITBSelected .sapMITBFilterDefault {
  background: #ED1620;
  color: #ffffff;
}

.sapMITBFilterDefault {
  color: #ED1620;
}

.sapMITBFilterIcon {
  background: #ffffff;
  border: 1px solid #ED1620;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  -moz-border-radius: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 2.75rem;
  overflow: hidden;
  width: 3rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.sap-desktop .sapMIBar.sapMFooter-CTX {
  background-color: rgb(204, 25, 25);
}

.sapMIBar-CTX.sapMFooter-CTX {
  background-color: rgb(204, 25, 25) !important;
}

.sapMITBContent {
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  border-color: #ED1620;
  border-style: solid;
}

@media screen and (max-width: 400px) and (min-width: 350px) {
  .sapMITBContent {
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
    border-color: #ED1620;
    border-style: solid;
    margin-left: -3em !important;
    width: 16em !important;
  }
 }
/*

@media (max-width:330px) {
  .sapMITBContent {
    margin-left: -2em !important;
    margin-right: -4em !important;
  }
}

@media screen and (max-width:400px) {
.sapMITBContainerContent {
    margin-left: -2em !important;
  }
}
*/



.sapMITBNoScrollBack.sapMITBScrollForward.sapMITBScrollable.sapMITH {
  margin-left: -3em !important;
}

.sapMITBScrollable.sapMITH.sapMITBScrollForward.sapMITBScrollBack {
  margin-left: -3em !important;
}

/*
.sapMITBScrollable.sapMITH.sapMITBNoScrollForward.sapMITBScrollBack {
  margin-left: -3em !important;
}
*/

.sapMITBArrowScroll.sapMITBArrowScrollLeft.sapUiIcon.sapUiIconMirrorInRTL {
  visibility: hidden;
}
.sapMITBArrowScroll.sapMITBArrowScrollRight.sapUiIcon.sapUiIconMirrorInRTL {
  visibility: hidden;
}


/********************/

.formClass {
  background: none;
}


/*
.sapUiFormResGrid>div {
  margin-top: 5em;
}
*/


/*
#__box0 {
  height: 8em;
}
*/

#cartFullId--prenoteSwitch {
  margin-left: 1em;
}

.progressIndicator {
  margin-left: 1em;
}


/*
#orderCreateId--simpleform0--Form--Grid {
  margin-top: -1em;
  margin-bottom: -1.5em;
}
*/


/*
#orderCreateId--hboxcustom0 {
  margin-bottom: -1.5em;
}
*/


/*
#__container2---Panel {
  margin-bottom: -0.5em;
}
*/

#orderCreateId--simpleform1--Form--title,
#offerCreateId--simpleform1--Form--title {
  margin-top: -0.8em;
  border: 0;
}


/*
#orderCreateId--hboxcustom1 {
  height: 80%;
}
*/

#orderCreateId--simpleform2--Form--title,
#offerCreateId--simpleform2--Form--title {
  height: 0px;
  /*
  border-left-style: inset;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-top-style: inset;
*/
  border: 0px;
}


/*
#orderCreateId--simpleform1--Form--Grid {
  padding-top: 0.1em;
  border-top-style: inset;
  border-left-style: inset;
  border-right-style: outset;
    border-bottom-style: inset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}

#orderCreateId--simpleform2--Form--Grid {
  padding-top: 0.1em;
  border-bottom-style: outset;
  border-top-style: outset;
  border-left-style: inset;
  border-right-style: outset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}
*/


/*
#__page0-cont
{
    border-style:outset;
        padding: 1rem 0.75rem;
}
*/

.customIconTabBar {
  margin-left: 5em;
  margin-right: 5em;
  width: auto;
}

.customObjectHeader {
  width: 100%;
  margin: 0px;
  padding: 2em;
  padding-top: 2em;
  text-align: center;
  background-color: #f4f0ff;
  border-bottom-style: groove;
  border-color: #0089FF;
}


/*#loginFlexBoxId {
  height: 15em;
}*/

.orderItemsForm {
  margin-bottom: 2em;
  margin-top: 2em;
}

.ConfirmButton {
  /*
  background-color: #ED1620;
  border-color: #b51616;
  color: #ffffff;
*/
  margin-left: 35px !important;
}


/*
.requestAvailability {
  margin-right: 2em !important;
}
*/

.toolbarNoBorder {
  border-style: none;
  margin-right: 0.5em !important;
}


/*Mobile*/

.sapMPageHeader::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  border-top: 0.25rem solid #ED1620;
  z-index: 7;
}

.productRequestPanel .sapMPanelExpandableIcon {
  display: none !important;
}

span[data-statusColor="BLOCCATO"] {
  background-color: red !important;
  color: white !important;
}


/*span[data-statusColor="APERTO"] {
  background-color: green !important;
  color: white !important;
}*/


/*
.availabilityButton{
    height: 2.250rem;
    min-width: 2.250rem;
    border: none;
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top;
    text-shadow: none;
    background-color: #b51616;
    border-color: #b51616;
}

.confirmButton{
    height: 2.250rem;
    min-width: 2.250rem;
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top;
    margin-left: 35px !important;
    text-shadow: none;
    background-color: #ED1620;
    border-color: #ED1620;
}
*/
