/*
.tileCustom .sapMStdTileInfo {
  white-space: normal;
  margin-top: 1rem;
}
*/


/*
.sapMStdTileTitle {
  font-size: 1.25rem;
  color: #ed1620 !important;
}
*/


/********************/


/*
.sapMObjLAttrRow {
    font-size: 1.875rem;

}
*/

.sapMObjStatusMarkerLocked.sapUiIcon.sapUiIconMirrorInRTL {
  font-size: 2em;
}


/*Riello*/

.sapMTileContent:active {
  background-color: blue;
}
.sapMLabel{
  white-space: inherit;
}

/*
#soLaunchpadId--SOtiles-soLaunchpadId--container-0-img{
    width: 10rem !important;
    height: 4rem !important;
    margin-top: 3rem;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-1-img{
    width: 10rem !important;
    height: 4rem !important;
    margin-top: 3rem;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-0-title{
    margin-top: 4rem;
    align-items: center;
    text-align: center;
    color: forestgreen !important;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-1-title{
    margin-top: 4rem;
    align-items: center;
    text-align: center;
}
*/

.iconColumns {
  width: 2.75rem;
}


/*
#splitApp-Master {
  border-right-style: solid;
  border-right-color: #CC1919 !important;
}
*/

#changePasswordId--linkChangePass {
  width: 100%;
  margin-left: 45%;
}

.sapMShellBrandingBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  background-color: blue !important;
}


/* freccia delle select di colore rosso */


/*
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow,
.sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
  background: #CC1919 !important;
}
*/


/* selected item colore grigio */

.sapMSelectListItemBaseSelected {
  background: rgba(33, 26, 28, 0.12);
}


/*login più basso*/

#loginId--loginFlexBoxId {
  margin-top: 12rem;
  height: 15em;
}


/*
.sapMNavItem {
  background-color: white !important;
  background: url("../img/albero_mod.jpg") center bottom no-repeat;
  background-size:contain;

}
*/

.pageClass {
  background: url(../img/albero_mod.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*        background-size: 80% 100%;*/
}

.pageClassSOLaunchpad {
  background-color: white !important;
  background: url("../img/albero_mod.jpg") center bottom no-repeat;
  background-size: cover;
}


/* per cellulare */

@media (max-width: 1280px) {
  .pageClass,
  .pageClassSOLaunchpad {
    background: url("../img/albero_mod.jpg") top no-repeat;
    background-color: #02548A !important;
    background-size: contain;
  }
}


/*

@media (max-width: 1280px) {
  .pageClassSOLaunchpad{
    background: url("../img/albero_mod.jpg") top no-repeat;
    background-color: #02548A !important;
    background-size: contain;
  }
}
*/

.masterListPage {
  background-color: white !important;
}


/*
.miaPagina {
  background-color: white !important;
  background: url("../img/logoRiello.png"), url("../img/sfondo_basso.png");
  background-position: left 50px, center bottom;
  background-repeat: no-repeat;
  background-size: initial, contain;
}
*/

#lv1Node {
  color: aqua;
}

#lv2Node {
  color: deepskyblue;
}


/*
#newCustomerId {
  background-color: white !important;
  background: url("../img/Sfondo_3.png") center bottom no-repeat;
  background-size: contain;
}

#orderListId {
  background-color: white !important;
  background: url("../img/Sfondo_3.png") center bottom no-repeat;
  background-size: contain;
}

#returnListPageId {
  background-color: white !important;
  background: url("../img/Sfondo_3.png") center bottom no-repeat;
  background-size: contain;
}

#orderInfoId {
  background-color: white !important;
}

#productRODetailId--detailROPage {
  background-color: white !important;
}

#HistoryCartsDetailId--historyCartsPageId {
    background-color: white !important;
}
*/


/*
#launchpadId--container-scrl
{
  background-color: white !important;
  background: url("../img/Sfondo_.png") center bottom no-repeat;
}
*/

.sapUiGlobalBackgroundImage.sapUiGlobalBackgroundImageForce {
  display: block;
  background: url("../img/footer_RielloGroup.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;
}

#changePasswordId--changePass-cont {
  background-color: #02548A !important;
  background: url("../img/albero_mod.jpg") center no-repeat;
  background-size: contain;
}

@media (max-width: 1280px) {
  #changePasswordId--changePass-cont {
    background: url("../img/albero_mod.jpg") top no-repeat;
    background-color: #02548A !important;
    background-size: contain;
  }
}

.sapUiVltCell {
  margin-left: 40px !important;
  margin-right: 2em !important;
}


/* Resi */

#resoConNCId--ResoConNCPage,
#resoId--ResoPage,
#resoSenzaNCId--resoSenzaNCPage {
  background-color: white !important;
}

.resoDetailPage {
  background-color: white !important;
}

#returnListPageId {
  background-color: white !important;
 
  background-size: contain;
}

/*
Font Master list Customer
*/


/*pagina del dettaglio ed edit*/


/*
#__page1-cont
{
  background-color: white  ;
}*/


/*
#emptyId {
  background-color: white !important;
}

#customerDetailId--detailPage-cont {
  background-color: white;
  background-image: url("../img/riello.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#customerEditId--editPage-cont {
  background-color: white;
  background-image: url("../img/riello.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#productDetailId {
  background-color: white !important;
}

#cartFullId {
  background-color: white !important;
}
*/


/*
.sapUiFormResGrid>div {
    margin-top: 5em;
    border-style: solid;
    border-color: #E72F27;
}
*/


/* Order Create */


/*
#orderCreateId--simpleform0--Form--Grid {
  background-color: white !important;
  margin-top: -1em;
  margin-bottom: -1.5em;
}

#orderCreateId {
  background-color: white;
}

.sapMITBSelected>.sapMITBContentArrow {
  border-bottom-color: #CC1919;
}

.sapMITBSelected .sapMITBFilterDefault {
  background: #CC1919;
  color: #ffffff;
}

.sapMITBFilterDefault {
  color: #CC1919;
}

.sapMITBFilterIcon {
  background: #ffffff;
  border: 1px solid #cc1919;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  -moz-border-radius: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 2.75rem;
  overflow: hidden;
  width: 3rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.sap-desktop .sapMIBar.sapMFooter-CTX {
  background-color: rgb(204, 25, 25);
}

.sapMIBar-CTX.sapMFooter-CTX {
  background-color: rgb(204, 25, 25) !important;
}

.sapMITBContent {
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  border-color: #CC1919;
  border-style: solid;
}
*/


/********************/

.formClass {
  background: none;
}


/*
.sapUiFormResGrid>div {
  margin-top: 5em;
}
*/


/*
#__box0 {
  height: 8em;
}
*/

#cartFullId--prenoteSwitch {
  margin-left: 1em;
}

.progressIndicator {
  margin-left: 1em;
}

.dichiarazioneCheckBox {
  margin-left: 1rem;
}


/*
#orderCreateId--simpleform0--Form--Grid {
  margin-top: -1em;
  margin-bottom: -1.5em;
}
*/


/*
#orderCreateId--hboxcustom0 {
  margin-bottom: -1.5em;
}
*/


/*
#__container2---Panel {
  margin-bottom: -0.5em;
}
*/

#orderCreateId--simpleform1--Form--title,
#offerCreateId--simpleform1--Form--title {

  margin-top: -0.8em;
  border: 0;
}


/*
#orderCreateId--hboxcustom1 {
  height: 80%;
}
*/

#orderCreateId--simpleform2--Form--title,
#offerCreateId--simpleform2--Form--title {
  height: 0px;
  /*
  border-left-style: inset;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-top-style: inset;
*/
  border: 0px;
}


/*
#orderCreateId--simpleform1--Form--Grid {
  padding-top: 0.1em;
  border-top-style: inset;
  border-left-style: inset;
  border-right-style: outset;
    border-bottom-style: inset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}

#orderCreateId--simpleform2--Form--Grid {
  padding-top: 0.1em;
  border-bottom-style: outset;
  border-top-style: outset;
  border-left-style: inset;
  border-right-style: outset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}
*/


/*
#__page0-cont
{
    border-style:outset;
        padding: 1rem 0.75rem;
}
*/

.customIconTabBar {
  margin-left: 5em;
  margin-right: 5em;
  width: 80%;
}
.customIconTabBarDetail{
	width:100%;
	padding:0.5rem;
}

.customObjectHeader {
  width: 100%;
  margin: 0px;
  padding: 2em;
  padding-top: 2em;
  text-align: center;
  background-color: #f4f0ff;
  border-bottom-style: groove;
  border-color: #0089FF;
}


/*#loginFlexBoxId {
  height: 15em;
}*/

.orderItemsForm {
  margin-bottom: 2em;
  margin-top: 2em;
}

.orderItemsFormCustomerView {
  margin-bottom: 1em;
  margin-top: 1em;
}

.confirmButton {
  margin-left: 35px !important;
}


/*
.requestAvailability {
  margin-right: 2em !important;
}
*/

.toolbarNoBorder {
  border-style: none;
  margin-right: 0.5em !important;
}


/*Mobile*/


/*
.sapMPageHeader::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  border-top: 0.25rem solid #CC1919;
  z-index: 7;
}
*/

.productRequestPanel .sapMPanelExpandableIcon {
  display: none !important;
}

span[data-statusColor="B"] {
  background-color: red !important;
  color: white !important;
}

#noDataSplitDetailId,
#ShippmentDetailId--shippmentDetailPage,
#fattureProvvigioniId--cartPage-cont {
  background-color: white !important;
}

#fattureProvvigioniId--pannelloDateTrasportoLabel1-label,
#fattureProvvigioniId--pannelloDateTrasportoLabel2-label
{
  width: 10% !important
}


/*text area border*/

.sapMTextArea>.sapMInputBaseReadonlyInner.sapMTextAreaInner {
  border: none !important;
}


/*span[data-statusColor="APERTO"] {
  background-color: green !important;
  color: white !important;
}*/


/*
  progress indicator
*/

@media (max-width:400px) {
  .progressIndicator.sapMPI {
    width: 3em !important;
  }
}

@media (max-width:400px) {
  .flexboxId {
    flex-direction: inherit !important;
  }
}

@media (max-width:330px) {
  #fattureProvvigioniId--pannelloDateTrasportoLabel1-label
  {
    width: 2em !important;
  }
  .sapMITBContent {
    margin-left: -2em !important;
    margin-right: -4em !important;
  }
  #orderCreateId--simpleform1--Form,
  #orderCreateId--simpleform2--Form,
  #orderInfoId--simpleform1--Form,
  #orderInfoId--simpleform2--Form,
  #offerCreateId--simpleform1--Form,
  #offerCreateId--simpleform2--Form,
  {
    width: 90% !important;
    margin-left: 3em !important;
  }
  #orderInfoId--SimpleFormDisplay480--Form,
  #orderInfoId--infoOrderProductTable
  {
    width: 80% !important;
    margin-left: 2em !important;
  }
  #orderCreateId--SimpleFormDisplay480--Form,
  #orderCreateId--idDocumentsTable,
  #offerCreateId--SimpleFormDisplay480--Form,
  #offerCreateId--idDocumentsTable  {
    width: 80% !important;
    margin-left: 2em !important;
  }
  #orderCreateId--openUploadDialogButton,
  #offerCreateId--openUploadDialogButton  {
    width: 80% !important;
    margin-right: 3em !important;
  }
}

.sapUiRespGridBreak.sapUiRespGridSpanL5.sapUiRespGridSpanM6.sapUiRespGridSpanS12.sapUiRespGridSpanXL5 {
  width: 100%;
}

#cartFullId--textAreaDetailOrder-inner,
#cartFullId--textAreaDetailOrder2-inner {
  border: none;
}


/*pagina trasporto date*/

#transportDatesId--cartPage-cont {
  background-color: white !important;
}

#fattureProvvigioniId--fromDate-inner,
#fattureProvvigioniId--toDate-inner {
  border: none !important;
}

#cartFullId--cartFullFullEvaDate,
#cartFullId--cartFullWantedDate,
#cartFullId--cartFullNetPrice,
#cartFullId--cartFullTaxPrice,
#cartFullId--cartFullTransPrice,
#cartFullId--cartFullTotalPrice,
#orderInfoId--orderInfoLabel1,
#orderInfoId--orderInfoLabel2,
#orderInfoId--orderInfoLabel3,
#orderInfoId--orderInfoLabel4,
#orderInfoId--orderInfoLabel5,
#orderInfoId--orderInfoLabel6,
#orderInfoId--orderInfoLabel7 {
  margin-right: 2em !important;
}

#orderCreateId--appToDelivery,
#orderCreateId--requiredDateId,
#offerCreateId--appToDelivery,
#offerCreateId--requiredDateId  {
  white-space: inherit !important;
  margin-top: -0.4em !important;
}

@media screen and (max-width:400px) {
  .sapMITBContainerContent {
    margin-left: -2em !important;
  }
  .orderItemsForm.sapUiSimpleForm {
    /*
    width: 55% !important;
    margin-left: 8em !important;
*/
  }
  #cartFullId--cartFullWantedDate-label,
  #cartFullId--cartFullNetPrice-label,
  #cartFullId--cartFullTaxPrice-label,
  #cartFullId--cartFullFullEvaDate-label,
  #cartFullId--cartFullTransPrice-label,
  #cartFullId--cartFullTotalPrice-label,
  #orderInfoId--orderInfoLabel1-label,
  #orderInfoId--orderInfoLabel2-label,
  #orderInfoId--orderInfoLabel3-label,
  #orderInfoId--orderInfoLabel4-label,
  #orderInfoId--orderInfoLabel5-label,
  #orderInfoId--orderInfoLabel6-label,
  #orderInfoId--orderInfoLabel7-label {
    font-size: 0.8em !important;
    white-space: pre-wrap !important;
  }
  #cartFullId--cartFullTaxPrice-label,
  #cartFullId--cartFullNetPrice-label {
    width: 10em;
  }
  #cartFullId--textAreaDetailOrder-inner,
  #cartFullId--textAreaDetailOrder2-inner {
    border: none !important;
    font-size: small !important;
    width: 18em !important;
    margin-left: -2em !important;
  }
  #cartFullId--idFlexD,
  #orderInfoId--orderInfoFelxId,
  #transportDatesId--pannelloDateTrasporto {
    width: 18em !important;
  }
  /*
  #transportDatesId--pannelloDateTrasporto
  {
    width: 75% !important;
    margin-left: 3em !important;
  }
*/
  #transportDatesId--dateTrasportoIncoterms-label,
  #transportDatesId--dateTrasportoShippingType-label,
  #transportDatesId--dateTrasportoCodeEl-label,
  #transportDatesId--dateTrasportoNation-label,
  #transportDatesId--dateTrasportoCity-label,
  #transportDatesId--dateTrasportoProv-label {
    font-size: 0.8em !important;
    white-space: pre-wrap !important;
    width: 55% !important;
  }
  .dataOrgSelectListId,.sapMSLITitleOnly
  {
    font-size: 0.95em !important;
    white-space: pre-wrap !important;
    font-weight: 500 !important;
  }
/*
  .dataOrgSelectListClass.sapMLIB .sapMLIB-CTX .sapMLIBShowSeparator .sapMLIBTypeInactive .sapMSLI.sapMSLIIconThumb .sapMLIBSelected .sapMSLIDiv .sapMSLITitleDiv .sapMSLITitleOnly{
    font-size: 0.6rem !important;
    white-space: nowrap;
  }
*/

/*
Cart Info
*/


}


	#HistoryCartsDetailId--cartInfoWantedDateDP-inner,
	#HistoryCartsDetailId--cartInfoNetPrice-inner,
	#HistoryCartsDetailId--cartInfoTaxPrice-inner,
	#HistoryCartsDetailId--cartInfoTransPrice-inner,
	#HistoryCartsDetailId--cartInfoTotalPrice-inner {
    padding-right: 2.5em !important;

  }
  
    .discountInput {
    opacity:inherit !important;
  }
  
  .discountInput .sapMInputBaseErrorInner {
  	border-color:orange !important;
  }
  
  .discountInput .sapMInputBaseWarningInner {
  	border-color:yellow !important;
  }

  .offerItemsForm {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-right:2em;
  }
  .offerDiscountItemsForm {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-right:1em;
    
  }
  

  .offerItemsFormCustomerView {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  #offerCreateId {
    background-color: white;
  }
  #offersListId{
    background-color: white;
  }
  #offerApprovationsListId{
    background-color: white;
  }
  #offerInfoId{
    background-color: white;
  }
  #offerCartFullId{
    background-color: white;
  }

  .discountInput {
    opacity:inherit !important;
  }

  .offerItemsForm {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-right:2em;
  }

  .offerItemsFormCustomerView {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  #offerCreateId {
    background-color: white;
  }
  #offersListId{
    background-color: white;
  }
  #offerApprovationsListId{
    background-color: white;
  }
  #offerInfoId{
    background-color: white;
  }
  #offerCartFullId{
    background-color: white;
  }

  div[data-discountStatusColor="ATM"]>span {
  background-color: orange !important;
  color: white !important;
}

div[data-discountStatusColor="MTM"]>span {
  background-color: orange !important;
  
}
/* 	div[data-discountStatusColor="N"]>span { */
/*   background-color: red !important; */
  
/* } */

/* 	div[data-discountStatusColor="M"]>span{ */
/* 	  background-color: yellow !important; */
	  
/* 	} */
	div[data-discountStatusColor=""]>span {
	  background-color: #808080 !important;
	  color:white !important;
	  
	}
	
	div[data-discountStatusColor="INS"]>span {
	  background-color: yellow !important;
	  
	}
	
	div[data-discountStatusColor="AAM"]>span {
	  background-color: green !important;
	  color: white !important;
	  
	}
	
	div[data-discountStatusColor="APP"]>span {
	  background-color: green !important;
	  color: white !important;
	  
	}
	
	
	div[data-discountStatusColor="MAM"]>span {
	  background-color: green !important;
	  color: white !important;
	  
	}
	
	div[data-discountStatusColor="MPP"]>span {
	  background-color: green !important;
	  color: white !important;
	  
	}
	
	.customerListItem span {
    white-space: normal !important;
}
	
	div .tileClass .sapMStdTileInfo {
	font-size: 0.8em;
	}
	
	.validityDiscountForm div {
	padding-left:0rem;
	padding-right:0.1rem;
	}
	
	.validityDiscountBtn span {
    padding-left: 0px !important;
}
	.validityDiscountForm span {
	padding-left:1rem;
	}
	.btnToolbar span {
	padding-left:0rem !important;
	
	}
	
	div .tileClass .sapMStdTileInfo {
    font-size: 0.725em !important;
	}
	
	div .tileClass .sapMStdTileInfo {
    font-size: 0.725em !important;
	}
	div .tileClass .sapMStdTileNumS {
    font-size: 0.85em;
}

.fullViewPage{
	background-color: white;
}

.offerRow td {
    padding: 0.3em !important;
}